.card {

    display: flex;
    gap: 1rem;
    width: 15%;
    text-align:centre;
    margin-left: 42.5%;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.card-header{

    background-color: aquamarine;
}

.card-body{

    background-color:azure;
}