.card {

    display: grid;
    gap: 1px,1px,1px;
    width: 60%;
    text-align:centre;
    margin-left: 130px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card-header{

    background-color: #7AAACE;
    
}

.card-body{

    background-color:#F7F8F0;
    
}