.selectCard {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    width: 90%;
    margin: 0 auto;
    border-radius:10px;
    background-color: white;
}

.selectCardHeader{

    border-radius: 5px;
    background-color: #7AAACE;
}

.SelectCardBody{

    background-color: white;
    color: #355872;
}

.navbar

.delete{

    color: red;
}